table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
    background-color: mediumturquoise;
}
.footer_main {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #258ea6;
}

.form-wrapper-survey {
  height: 110vh;
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #258ea6;
}
.page-wrap{
	width:100%;
	margin:auto;
	max-width:375px;
	min-height:100vh;
	position:relative;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

body {
  font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.form-wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
}
/* The popup form - hidden by default */
.form-popup {
  display: none;
  width: 550px;
  right: 200px;
  border: 10px solid #f1f1f1;
  border-radius: 10px;
  z-index: 9;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 50px #555;
  background-color: lightskyblue;
}

form-wrapper-manager {
  width: 400px;
  display: none;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
}
/* Add styles to the form container */
.form-container {
  max-width: 100%;
  padding: 10px;
  background-color: dodgerblue;
}

 /* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.btn-cancel {
  background-color: red;
  border-color: black;
}

.btn-primary {
  background-color: #519e8a;
  border-color: black;
}
